*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* text */
    --cor-Very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --cor-Soft-red: hsl(14, 88%, 65%);
    --cor-Very-dark-grayish-blue: hsl(237, 12%, 33%);
    --cor-Dark-grayish-blue: hsl(240, 6%, 50%);

    /* Background gradient: */
    --cor-Soft-violet: hsl(273, 75%, 66%);
    --cor-Soft-blue: hsl(240, 73%, 65%);

    /* Dividers */
    --cor-Light-grayish-blue: hsl(240, 5%, 91%);

    /* font */
    --font-Berkshire-font-family: 'Berkshire Swash', cursive;
    --font-Inter-font-family: 'Inter', sans-serif;
    --font-Kumbh-font-family: 'Kumbh Sans', sans-serif;
    --font-Overpass-font-family: 'Overpass', sans-serif;
    --font-Roboto-font-family: 'Roboto', sans-serif;
}

body {
   font-size: 0.75rem;
    width: 100vw;
    height: 100vh; 
    background:linear-gradient(var(--cor-Soft-violet), var(--cor-Soft-blue));
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
   background-color: white;
    background-image: url(./images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-position: 1260% 65%;
    border-radius: 1.875rem;
    height: 31.875rem;
    width: 57.5rem;
    display: grid;
    grid-template-areas: "image questions";
    grid-gap: 3rem;
}

.card__image{
    grid-area: image;
    position: relative;
    width: 29.5rem;
    overflow: hidden; 
}

.card__image--woman{
    position: absolute;
    transform: translateY(35px) translateX(-75px);
}

.box{
position: absolute;
transform: translateY(95%) translateX(-55%);

}

.accordian__card{
    grid-area: questions;
    margin-top: 4.06rem;
    display: flex;
    flex-direction: column;
}

.title__accordian{
    font-size: 2rem;
    font-family: var(--font-Kumbh-font-family);
}

.questions__accoridan{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.questions-answer__accordian{
    width: 21.875rem;
    border-bottom: 1px solid var(--cor-Light-grayish-blue);
}

.question{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}


.question :hover{
    color: var(--cor-Soft-red);
}

.title__question{
    font-weight: 400;
    font-size: 1.2rem;
    color: var(--cor-Very-dark-grayish-blue);
    margin: 1.4rem 0rem;
}

.active .title__question {
    color:black;
    font-weight: bold;
}

.question img {
    align-self: center;
}

.answer {
    display: none;
}

.active .answer{
    display: block;
    padding-bottom: 1.3rem;
    color: var(--cor-Very-dark-desaturated-blue);
    transition: all .3s ease-in;
}

@media (max-width: 1340px) {
    
    .card {
        position: relative;  
        width: 22rem; 
        height: auto;
        grid-template-areas: 
        "image"
        "questions";
        row-gap: 1rem;
        margin-top: 5rem;
    }

    .card__image {
        position:fixed;
        background-image: url(../images/bg-pattern-mobile.svg);
        /* background-image: url(./images/bg-pattern-mobile.svg);  */
        background-repeat:no-repeat;
        background-position: 30% 20%;
        background-size: contain;
        width: 28rem;
        height: 5.5rem;
        transform: translateY(0px); 
        visibility: visible; 
    }

    .card__image--woman{
        visibility: hidden;
    }

    .card__mobile{
        position: absolute;
        background-image: url(../images/illustration-woman-online-mobile.svg);
        background-repeat:no-repeat;
        background-position: 30% 20%;
        background-size: contain;
        width: 50%;
        height: 50%;
        transform: translateY(-95px) translateX(80px);
    }

    .box{
        visibility: hidden;
    }

    .accordian__card{
     margin-top: 5rem;   
    }

    .title__accordian{
        font-size: 1.6rem;
        text-align: center;
       
    }

    .questions-answer__accordian{ 
      width: 16rem; 
      margin-left: 1.5rem;
      margin-bottom: 0.6rem;
    }

    .question {
      padding: 0rem;  
    }

    .question, .answer{
        width: 75vw;
        margin: 0 2%;
    }

    .title__question {
        font-size: 1rem;
    }


}

